<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue dans la communauté La Fonte des Graisses <%= @user.name %> !</h1>
    <p>
      Vous venez de vous inscrire avec succès à la newsletter de La Fonte des Graisses ! Votre nom d’utilisateur est: <%= @user.name %>.<br>
    </p>
    <p>
      Pour vous rendre sur notre site, merci de suivre ce lien : <%= @url %>.
    </p>
    <p>Merci de nous avoir rejoint. Bonne journée !</p>
  </body>
</html>
